@{
    ViewBag.Title = "Add Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Forms</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    User Add Edit Form
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                           
                                <div class="form-group">
                                    <label>UserName</label>
                                    <input class="form-control">
                                    
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="form-control">

                                </div>
                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>
                              
                                <div class="form-group">
                                    <label>User Role</label>
                                    <select class="form-control">
                                        <option value="0">-- Select Role --</option>
                                        <option value="1">Admin</option>
                                        <option value="2">User</option> 
                                    </select>
                                </div>
                                
                                <button type="submit" class="btn btn-default">Submit Button</button>
                                <button type="reset" class="btn btn-default">Reset Button</button>
                            
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                       
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
    </div>
